<p id="notice"><%= notice %></p>

<p>
  <strong>Brand:</strong>
  <%= @spacer.brand %>
</p>

<p>
  <strong>Size:</strong>
  <%= @spacer.size %>
</p>

<%= link_to 'Edit', edit_spacer_path(@spacer) %> |
<%= link_to 'Back', spacers_path %>
