<header class="mb-4 row align-items-end">
  <div class="col-md-9">
    <h1 class="h3 mb-0">Components</h1>
  </div>
  <div class="col-md-3 text-right">
    <%= link_to 'Add Component', new_component_path, class:'btn btn-sm btn-primary' if current_user_authorized_for_brand? %>
  </div>
</header>

<% @components.each do |component| %>
  <div class="card">
    <div class="card-header font-weight-bold d-flex align-items-center">
      <div class="mr-auto"><%= component.name %></div>
      <% if current_user_authorized_for_brand? %>
        <div class="dropdown ml-2">
          <a class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= octicon "kebab-vertical", height:20, class:'ml-1' %>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <%= link_to 'Edit', edit_component_path(component), class:'dropdown-item' %>
            <%= link_to 'Delete', component, method: :delete, data:{confirm:'Are you sure?'}, class:'dropdown-item' %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="card-body">
      <div class="card-text"><%= simple_format component.description %></div>
      <iframe id="iframe-<%= component.id %>" style="border:none;outline:none;height:40px;"></iframe>
      <script>
        var $iframe = $("#iframe-<%= component.id %>")
        ,   $head   = $iframe.contents().find("head")
        ,   $body   = $iframe.contents().find("body");

        $iframe.ready(function() {

          var css = '<style type="text/css">body{background:white !important;}</style>';
          $head.append($("<link/>",{ rel: "stylesheet", href: '<%= current_tenant.stylesheet_url %>', type: "text/css" }));
          $head.append(css)
          $body.append('<%= sanitize(component.markup.squish!) if component.markup.present? %>');

        });

        $iframe.height( $iframe.contents().outerHeight() );

      </script>
    </div>
    <div class="card-markup">
      <ul class="markup-actions nav nav-tabs" id="myTab" role="tablist">
        <li><a class="badge nav-item active" id="markup-tab" data-toggle="tab" href="#markup" role="tab" aria-controls="markup" aria-selected="true">HTML</a></li>
        <li><a class="badge nav-item" id="scss-tab" data-toggle="tab" href="#scss" role="tab" aria-controls="scss" aria-selected="false">SCSS</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="markup" role="tabpanel" aria-labelledby="markup-tab">
          <pre><code class="language-html"><%= component.markup %></code></pre>
        </div>
        <div class="tab-pane" id="scss" role="tabpanel" aria-labelledby="scss-tab">
          <pre><code class="language-css"><%= component.style %></code></pre>
        </div>
      </div>
    </div>
  </div>
<% end %>
