<p id="notice"><%= notice %></p>

<p>
  <strong>Brand:</strong>
  <%= @component.brand %>
</p>

<p>
  <strong>Name:</strong>
  <%= @component.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @component.description %>
</p>

<p>
  <strong>Markup:</strong>
  <%= @component.markup %>
</p>

<p>
  <strong>Style:</strong>
  <%= @component.style %>
</p>

<%= link_to 'Edit', edit_component_path(@component) %> |
<%= link_to 'Back', components_path %>
