<header class="mb-4 row align-items-end">
  <div class="col-md-9">
    <p class="mb-0 text-muted font-size-16"><%= link_to 'Account', account_path %> / New Brand</p>
    <h1 class="h3 mb-0">New Brand</h1>
  </div>
</header>

<div class="row">
  <div class="col-md-8">
    <%= simple_form_for([:account,@brand]) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

      <div class="form-inputs">
        <%= f.input :name %>
        <%= f.input :subdomain %>
      </div>
      <div class="form-actions">
        <%= f.button :submit %>
      </div>
    <% end %>
  </div>

</div>
