<header class="mb-4 row align-items-end">
  <div class="col-md-9">
    <p class="mb-1 text-muted font-size-16"><%= link_to 'Account', account_path %> / Brands</p>
    <h1 class="h3 mb-0">Add Brand</h1>
  </div>
</header>

<div class="row">
  <div class="col-md-8">
    <%= render 'form', brand: @brand %>
  </div>
  <div class="col-md-4">
    <h3 class="h4 color-neutral-6 mb-3">New Brand Setup</h3>
    <ul class="list-unstyled list-steps">
      <li class="completed">
        <%= link_to 'Register Account', '#', class:'color-neutral-6' %>
      </li>
      <li>
        <%= link_to 'Add Brand', new_account_brand_path, class:'color-neutral-6' %>
      </li>
      <li>
        <%= link_to 'Connect Website', '#', class:'color-neutral-6' %>
      </li>
    </ul>
  </div>
</div>
