<ul class="nav nav--material flex-column">
  <li class="nav-item"><%= link_to (octicon('dashboard', class:'nav-icon',height:24) + "Dashboard"), root_path, class:'nav-link facility-dash-link' %></li>
  <li class="nav-item"><%= link_to (octicon('star', class:'nav-icon',height:24) + "Logos"), logos_path, class:'nav-link facility-dash-link' %></li>
  <li class="nav-item"><%= link_to (octicon('paintcan', class:'nav-icon',height:24) + "Colors"), colors_path, class:'nav-link facility-dash-link' %></li>
  <li class="nav-item"><%= link_to (octicon('text-size', class:'nav-icon',height:24) + "Fonts"), fonts_path, class:'nav-link facility-dash-link' %></li>
  <li class="nav-item"><%= link_to (octicon('arrow-both', class:'nav-icon',height:24) + "Spacing"), spacers_path, class:'nav-link facility-dash-link' %></li>
  <li class="nav-item"><%= link_to (octicon('archive', class:'nav-icon',height:24) + "Components"), components_path, class:'nav-link facility-dash-link' %></li>
</ul>
