<header class="page-header row align-items-end">
  <div class="col-md-6">
    <h1 class="h3 mb-0">Colors</h1>
  </div>
  <% if current_user_authorized_for_brand?  %>
    <div class="col-md-6 text-right">
      <%= link_to 'Manage Categories', color_categories_path, class:'btn btn-sm btn-outline-primary' %>
      <%= link_to 'Add Color', new_color_path, class:'btn btn-sm btn-primary' %>
    </div>
  <% end %>
</header>

<% if @categories.exists? %>

  <div class="row">
    <% @categories.each do |category| %>
      <div class="col-lg-4">
        <h2 class="h5 text-muted"><%= category.name %></h2>
        <ul class="list-unstyled color-list">
          <% category.colors.order(hex: :desc).each do |color| %>
            <%= render 'color', color: color %>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

<% elsif @colors.exists? %>
  <h2 class="h4">Neutrals</h2>
  <ul class="list-unstyled color-list row">
    <% @colors.each do |color| %>
      <%= render 'color', color: color %>
    <% end %>
  </ul>
<% else %>
  <div class="empty-state">
    <%= octicon('paintcan', height:65) %>
    <div class="text-center lead">You haven't created any colors yet.</div>
  </div>
<% end %>
<%= render 'panel' %>
