<p id="notice"><%= notice %></p>

<p>
  <strong>Brand:</strong>
  <%= @color.brand %>
</p>

<p>
  <strong>Hex:</strong>
  <%= @color.hex %>
</p>

<%= link_to 'Edit', edit_color_path(@color) %> |
<%= link_to 'Back', colors_path %>
