<header class="mb-4 row align-items-end">
  <div class="col-md-6">
    <h1 class="h3 mb-0">Fonts</h1>
  </div>
  <% if current_user_authorized_for_brand?  %>
    <div class="col-md-6 text-right">
      <%= link_to 'Add Font', new_font_path, class:'btn btn-sm btn-primary' %>
    </div>
  <% end %>
</header>


<% if @fonts.exists? %>
  <ul class="list-unstyled font-list">
    <% @fonts.each do |font| %>
      <div class="card mb-1">
        <div class="card-body">
          <p class="mb-0" style="font-size:<%= font.size %>">Would you like to play a nice game of chess?</p>
          <p class="mb-0 color-neutral-6 font-size-16"><%= font.size %> - <%= font.name %></p>
        </div>
      </div>
    <% end %>
  </ul>
<% else %>
  <div class="empty-state">
    <%= octicon('paintcan', height:65) %>
    <div class="text-center lead">You haven't added any fonts yet.</div>
  </div>
<% end %>
