<!DOCTYPE html>
<html>
  <head>

    <title>Style Guides App - A hosted style guide service.</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'partials/layout_header_favicons' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://use.typekit.net/urr6rlc.css">
  </head>

  <body>
    <div class="sticky-top px-3 py-2 border-bottom transparent-header mb-4">
      <div class="container md d-flex align-items-center">
        <img src="https://d28lxayvntpz3s.cloudfront.net/site-assets/logos/sg-logo.png" style="max-width:175px;">
        <ul class="nav ml-auto mt-0">
          <% if user_signed_in? %>
            <li class="nav-item dropdown icon-dropdown">
              <a data-toggle="dropdown" class="nav-link" aria-haspopup="true" aria-expanded="false">
                <%= current_user.first_name %>
                <%= octicon "kebab-vertical" %>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                <%= link_to 'Account', account_path, class:'dropdown-item' %>
                <%= link_to 'Logout', destroy_user_session_path(subdomain:false), method: :delete, class:'dropdown-item' %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <main class="container">
      <%= yield %>
    </main>
    <%= render 'partials/notice' %>
    <%= render 'partials/footer' %>
  </body>
</html>
