<!DOCTYPE html>
<html>
  <head>
    <% if Rails.env.production? %>
      <!-- Google Analytics -->
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-128111649-3', 'auto');
        document.addEventListener('turbolinks:load', function(event){
          if (typeof ga === 'function') {
            ga('set', 'location', event.data.url)
            ga('send', 'pageview')
          }
        });
      </script>
      <!-- End Google Analytics -->
    <% end %>
    <title>Style Guides App - A hosted style guide service.</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'partials/layout_header_favicons' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:site_name" content="Style Guides">
    <meta name="theme-color" content="#f0f0f7"/>
    <meta name="Description" content="Hosted style guides.">
    <% if content_for?(:head) %>
      <%= yield(:head) %>
    <% else %>
      <meta property="og:url" content="<%= root_path %>">
      <meta property="og:type" content="website">
      <meta property="og:title" content="Style Guides">
      <meta property="og:description" content="Hosted style guides.">
      <meta property="og:image" content="">
      <meta property="og:image:width" content="1110" />
      <meta property="og:image:height" content="624" />
    <% end %>
    <link rel="stylesheet" href="https://use.typekit.net/urr6rlc.css">
  </head>

  <body class="auth">
    <div class="home-container">

      <section class="home-container--inner bg-white box-shadow-5">
        <%= yield %>
      </section>

      <div class="home-img" style="background-image:url(https://d28lxayvntpz3s.cloudfront.net/site-assets/sg/styleguide-bg.jpg)"></div>

    </div>
    <%= render 'partials/notice' %>
  </body>
</html>
