<!DOCTYPE html>
<html>
  <head>
    <title>Styleguideapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.typekit.net/urr6rlc.css">
  </head>

  <body>
    <div class="menu">
      <%= render 'partials/brand_nav' %>
    </div>
    <div class="main">
      <div class="main-inner">
        <%= render 'partials/notice' %>
        <%= yield %>
      </div>
    </div>

  </body>
</html>
